

{% extends 'base.html' %}
{% block content %}

<body>
<h1><b>Task</b></h1>
        <table>

                <tr class="table-secondary"><td>Task Name</td><td>Task Deadline</td>

                </tr>
 {% for todo in todos %}
            <a href="{% url 'update_task' todo.id %}">
<tr>
                <td>{{ todo.Task }}</td>
                <td>{{ todo.Deadline }}</td>
                <td><center><a href="{% url 'delete_task' todo.id %}">Delete</a> </center></td>
            </tr>



            </a>
            {% endfor %}


        </table>



<a href="{% url 'create_task' %}">New Task</a>
</body>



{% endblock %}